html, body, .outer-wrapper{
	height:100%;
}
body{
	background: #fff;
	// min-height:1500px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5){
	body{
		// background:#e9f3f7 url("/img/bg@2x.png") top center;
		background-size:10px 10px;
	}
}
.outer-wrapper{
	position:relative;
}
.content-wrapper{
	padding-bottom:10px;
	margin: 0 auto;
	max-width: 1230px;
}
#spinner{
	margin: 100px 0;
}
.debug{
	display:none;
}
.hidden{
	display:none;
}
.overlay{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:50;
}
.footer{
	border-top:1px solid black(0.05);
	text-align:center;
	padding:10px 0 70px 0;
	color:black(0.4);
	font-size:14px;
	&.absolute{
		position:absolute;
	}
}
#login-buttons .loading{
	display:none;
}
#loading{
	height:300px;
}

.footer {
	float: left;
	padding: 0;
	border: 0;
	width: 100%;
	overflow: hidden;
	margin: 25px auto;
	text-align: center;
	color: #111111;

	img {
		display: block;
		margin: 0 auto 9px;
	}
}

.twocol-left {
	float: left;
	width: 75%;
	@include box-sizing(border-box);

	h3 {
		color: $a2-black;
		margin-top: 1.5em;
		font-weight: 600;
		font-size: 1.5em;
	}

	a {
		color: $a2-red !important;
		font-weight: 500;
	}
}

.twocol-right {
	float: right;
	width: calc(25% - 25px);
	margin-left: 25px;
	@include box-sizing(border-box);

	a {
		font-weight: 500;
		color: $a2-red !important;
	}

	hr {
		border: 0;
		margin: 1em 0;
		height: 1px;
		background: #ccc;
	}

	.button {
		float: none;
		color: white !important;
		font-weight: normal;
		margin: 0 auto;
	}
}

a:link.give-invites {
	color: $a2-red;
}