.status-1 {
    color: #b3c1c6;
}
.status-2 {
    color: #777777;
}
.status-3 {
    color: #D66100;
}
.status-4 {
    color: #008080;
}
.status-5 {
    color: #74d247;
}
.status-6 {
    color: #d60001;
}