.form-col {
	float: left;
	width: 50%;

	@media screen and (max-width: $break-small) {
		width: 100%;
	}
}

form, .accounts-dialog{
	&.form-block{
		background:$lightest-grey;
		@include border-radius(3px);
		margin-bottom:10px;
		padding:10px;
	}
	// @extend .grid-block;
	>div{
		@include cf;
	}
	.control-group, .form-group{
		@include cf;
		margin-bottom:$grid-padding;
		>label{
			float:left;
			width: 100px;
			text-align: right;
			padding-top: 8px;
		}
		.controls{
			margin-left:130px;
			position:relative;
			.inline-link{
				position:absolute;
				display:block;
				top:2px;
				right:8px;
				&.loading{
					background:url(/img/loading.gif) center center no-repeat;
					height:22px;
					width:18px;
					@include hide-text2;
				}
			}
			label{
				display:block;
				margin-bottom:5px;
			}
			label.inline{
				display:inline-block;
				margin-bottom:0;
			}
		}
		&.inline{
			.controls{
				margin-left:0px;
				width:80%;
				float:left;
			}
			.submit{
				float:right;
			}
			margin-bottom:10px;
		}
	}
	.form-actions{
		@include cf;
		a{
			float:left;
			display:block;
			margin-top: 15px;
		}
		input {
			margin-top: 15px;
		}
	}
	input[type="text"], input[type="password"], input[type="number"], textarea, .login-form input{
		display:block;
		padding:5px 6px;
		width:100%;
		font-size:14px;
		background: white;
		color: $a2-black;
		@include border-box;
		border: 0;
		-webkit-appearance: none;
		@include border-radius(4px);
		@include box-shadow(0 1px 1px #cecece);

		&:focus{
			outline: none;
		}
	}
	input[type="text"], input[type="password"], input[type="number"], .login-form input{
		height: 41px;
		line-height: 41px;
	}
	input[disabled='disabled']{
		color: #ccc;
	}
	textarea{
		min-height:100px;
		line-height:1.4;
	}
	input[type="submit"], button, .button, .btn{
		float:right;
	}
	.note{
		padding: 5px 0;
		color: #ccc;
		font-size: 80%;
	}
}
input[type="submit"], button, .button, .btn{
	-webkit-appearance: none;
	@include border-radius(6px);
	background: $a2-red;
	color:white !important;
	text-align:center;
	display:block;
	padding: 0px 35px;
	border:none;
	font-size:16px;
	cursor:pointer;
	margin:0;
	line-height: 43px;
	height: 43px;
	font-weight: 600;
	text-transform: uppercase;

	&.disabled{
		background:$lighter-grey;
		pointer-events:none;
	}
	&:hover {
		color:white;
		background: $a2-red-dark;
	}
	&.inline{
		display: inline-block;
	}
}
.twitter-signup{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid $lighter-grey;
	.twitter-button{
		background:#00aced;
	}
}
.category-slug{
	font-size:12px;
	float:left;
	width:80%;
	display:block;
}
.ui-autocomplete{
	background: white;
	width: 200px!important;
	padding:10px;
	font-size:14px;
	@include box-shadow(0 1px 1px black(0.15));
}

.text-close {
	display: none;
}

.btn-open {
	background: #cecece;

	.text-post {
		display: none;
	}

	.text-close {
		display: inline;
	}

	&:hover {
		background: #bfbebe !important;
	}
}

// Custom radios
.radio {
	position: relative;
	margin: 0 30px 0 0;
	padding: 10px 0 0 28px;
	font-size: 14px;

	input[type=radio] {
		display: none;

		&:checked + .radio-input {
			&::after {
				display: block;
			}
		}
	}

	.radio-input {
		position: absolute;
		left: 0;
		top: 12px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			background: white;
			@include border-radius(50%);
			@include box-shadow(0 1px 1px #cecece);
		}

		&::after {
			display: none;
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			width: 8px;
			height: 8px;
			@include border-radius(50%);
			background: $a2-red;
		}
	}
}

// Custom checkboxes
.checkbox {
	position: relative;
	margin: 0 30px 0 0;
	padding: 10px 0 0 28px;
	font-size: 14px;

	input[type=checkbox] {
		display: none;

		&:checked + .checkbox-input {
			&::after {
				display: block;
			}
		}
	}

	.checkbox-input {
		position: absolute;
		left: 0;
		top: 12px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			background: white;
			@include border-radius(2px);
			@include box-shadow(0 1px 1px #cecece);
		}

		&::after {
			display: none;
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			width: 8px;
			height: 8px;
			@include border-radius(1px);
			background: $a2-red;
		}
	}
}

// Delete button
form .form-actions .delete-link {
	float: right;
	margin-right: 25px;
	background: $a2-black;
}