<template name="post_edit">
  <div class="grid submit">
    {{#with post}}
      <form class="grid-block form-horizontal">
        <section class="form-col">
          <!--<div class="control-group">
            <label class="control-label post-form-headline">{{i18n "Created"}}</label>
            <div class="controls"><p>{{created}}</p></div>
          </div>-->

          <div class="control-group">
            <label class="control-label post-form-headline">{{i18n "Title"}}</label>
            <div class="controls"><input id="editTitle" type="text" value="{{headline}}" /></div>
          </div>

          {{#if shorten}}
          <div class="control-group">
            <label class="control-label post-form-url">{{i18n "Short URL"}}</label>
            <div class="controls"><input id="short-url" type="text" value="{{shortUrl}}" /></div>
          </div>
          {{/if}}

          <div class="control-group">
            <label class="control-label post-form-body">{{i18n "Description"}}</label>
            <div class="controls"><textarea id="editBody" value="" class="input-xlarge">{{body}}</textarea></div>
          </div>
        </section>

        <section class="form-col">
          {{#if categoriesEnabled}}
          <div class="control-group post-form-category">
            <label class="control-label">{{i18n "Category"}}</label>
            <div class="controls">
              {{#each categories}}
              <label class="checkbox inline">
                <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="editCategory" {{checked}} /> {{name}}
                <div class="checkbox-input"></div>
              </label>
              {{/each}}
            </div>
          </div>
          {{/if}}

          <div class="control-group">
            <label class="control-label post-form-url">{{i18n "URL"}}</label>
            <div class="controls"><input id="url" type="text" value="{{url}}" /></div>
          </div>

          {{#if isAdmin}}
            <!--{<div class="control-group post-form-sticky">
              <label class="control-label">{{i18n "Inactive?"}}</label>
              <div class="controls">
                {{inactive}}
              </div>
            </div>-->

            <!--<div class="control-group post-form-sticky">
              <label class="control-label">{{i18n "Sticky?"}}</label>
              <div class="controls">
                <input type="checkbox" name="sticky" id="sticky" {{isSticky}} />
              </div>
            </div>-->

            {{#if isApproved}}
            <!--<div class="control-group">
              <label class="control-label post-form-date">{{i18n "Submission Date"}}</label>
              <div class="controls"><input id="submitted_date" type="text" value="{{submittedDate}}" /></div>
              <input id="submitted_hidden" type="hidden" value="{{submitted}}" />
            </div>

            <div class="control-group">
              <label class="control-label post-form-time">{{i18n "Submission Time"}}</label>
              <div class="controls"><input id="submitted_time" type="text" value="{{submittedTime}}" /></div>
            </div>-->

            {{else}}
            <!--<div class="control-group">
              <label class="control-label post-form-timestamp">{{i18n "Submission"}}</label>
              <div class="controls">
                <p>{{i18n "Note: this post is still pending so it has no submission timestamp yet."}}</p>
              </div>  
            </div>-->
            {{/if}}

            <!--<div class="control-group post-form-user">
              <label class="control-label">{{i18n "User"}}</label>
              <div class="controls">
                <select id="postUser">
                  {{#each users}}
                    <option {{isSelected ..}} value="{{_id}}">{{userName}}</option>
                  {{/each}}
                </select>
              </div>
            </div>-->

            <div class="control-group post-form-status">
              <label class="control-label">{{i18n "Status"}}</label>
              <div class="controls">
                <label class="radio inline">
                  <input id="status_pending" type="radio" value="1" name="editStatus" {{hasStatusPending}} /> {{i18n "Pending"}}
                  <div class="radio-input"></div>
                </label>
                <label class="radio inline">
                  <input id="status_approved" type="radio" value="2" name="editStatus" {{hasStatusApproved}} /> {{i18n "Approved"}}
                  <div class="radio-input"></div>
                </label>
                <label class="radio inline">  
                  <input id="status_rejected" type="radio" value="3" name="editStatus" {{hasStatusRejected}} /> {{i18n "Rejected"}}
                  <div class="radio-input"></div>
                </label>
              </div>
            </div>
          {{/if}}
        </section>

        <div class="form-actions">
          <input type="submit" value="{{i18n "Submit"}}" />
          <a class="delete-link btn" href="/posts/deleted">{{i18n "Delete Post"}}</a>
        </div>
      </form>
    {{/with}}
  </div>
</template>