<template name="post_submit">
  <div class="grid submit" id="submitDiv">
    <form class="grid-block form-horizontal">
      <section class="form-col">
        <div class="control-group">
          <label class="control-label">{{i18n "Title"}}</label>
          <div class="controls"><input id="title" type="text" value="" /></div>
        </div>

        <div class="control-group">
          <label class="control-label">{{i18n "Description"}}</label>
          <div class="controls"><textarea id="body" value="" class="input-xlarge"></textarea></div>
        </div>
      </section>

      <section class="form-col">
        {{#if categoriesEnabled}}
        <div class="control-group">
          <label class="control-label">{{i18n "Category"}}</label>
          <div class="controls">
            {{#each categories}}
            <label class="checkbox inline">
              <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" /> {{name}}
              <div class="checkbox-input"></div>
            </label>
            {{/each}}
          </div>
        </div>
        {{/if}}

        <div class="control-group">
          <label class="control-label">{{i18n "URL"}}</label>
          <div class="controls"><input id="url" type="text" value="" /></div>
        </div>

        {{#if isAdmin}}
        <!--<div class="control-group">
          <label class="control-label">{{i18n "Sticky?"}}</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">{{i18n "Date"}}</label>
          <div class="controls"><input id="submitted" type="text" value="{{submittedDate}}" /><input id="submitted_hidden" type="hidden" value="{{submitted}}" /></div>
        </div>

        <div class="control-group">
          <label class="control-label">{{i18n "User"}}</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
              <option {{isSelected}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>-->

        <div class="control-group">
          <label class="control-label">{{i18n "Status"}}</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> {{i18n "Pending"}}
              <div class="radio-input"></div>
            </label>
            <label class="radio inline">
              <input id="status_suggested" type="radio" value="2" name="status" checked /> {{i18n "Suggested"}}
              <div class="radio-input"></div>
            </label>
            <label class="radio inline">
              <input id="status_underreview" type="radio" value="3" name="status" /> {{i18n "Under Review"}}
              <div class="radio-input"></div>
            </label>
            <label class="radio inline">
              <input id="status_workingonit" type="radio" value="4" name="status" /> {{i18n "Working On It"}}
              <div class="radio-input"></div>
            </label>
            <label class="radio inline">
              <input id="status_implemented" type="radio" value="5" name="status" /> {{i18n "Implemented"}}
              <div class="radio-input"></div>
            </label>
            <label class="radio inline">  
              <input id="status_rejected" type="radio" value="6" name="status"/> {{i18n "Rejected"}}
              <div class="radio-input"></div>
            </label>
          </div>
        </div>
        {{/if}}
      </section>

      <div class="form-actions">
        <input type="submit" value="{{i18n "Submit"}}" id="formSubmit" />
      </div>
    </form>
  </div>
</template>